.app {
    padding: 20px;
    font-family: Arial;
}


/* HEADER */

.header {
    display: flex;
    justify-content: space-between;
    background: #131921;
    color: white;
    padding: 15px;
    border-radius: 10px;
}


/* CART ICON */

.cart-icon {
    position: relative;
    font-size: 24px;
    cursor: pointer;
}

.badge {
    position: absolute;
    top: -8px;
    right: -10px;
    background: #ff9900;
    color: black;
    border-radius: 50%;
    padding: 3px 7px;
    font-size: 12px;
}


/* GRID */

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    margin-top: 20px;
}


/* CARD */

.card {
    border: 1px solid #eee;
    padding: 10px;
    border-radius: 10px;
    transition: 0.3s;
    position: relative;
}

.card:hover {
    transform: scale(1.03);
}


/* IMAGE */

.image-box {
    width: 100%;
    height: 220px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 12px;
    padding: 10px;
}

.img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    object-fit: contain;
    transition: 0.3s ease;
}

.card:hover .img {
    transform: scale(1.05);
}


/* PRICE */

.price {
    font-weight: bold;
    margin: 5px 0;
}


/* BUTTON */

.add-btn {
    width: 100%;
    padding: 8px;
    background: #ff9900;
    border: none;
    cursor: pointer;
    font-weight: bold;
    transition: 0.2s;
}

.add-btn:active {
    transform: scale(0.95);
}


/* QTY */

.qty {
    margin-top: 5px;
    color: green;
}


/* FLY ANIMATION BALL */

.fly-ball {
    z-index: 9999;
    pointer-events: none;
}